{% extends "base.html" %}

{% block title %}
    Autor {{ autor.id }}
{% endblock title %}



{% block main %}
    <div class="autor">
        <header>
            <h2>{{autor.nombre}} {{autor.apellidos}}</h2>
        </header>
        <div class="main">
            <p>{{autor.lugar_nacim}}</p>
            <p>{{autor.fecha_nacim | date:"d M Y"}}</p>    
        </div>        

    </div>
    <div class="libros">
        <ul>
            {% for libro in libros %}
            <li>
                <a class="libro" href="{% url 'libro' libro.id  %}">
                    <p>
                        {{ libro.titulo }}
                    </p>
                </a>
                <p>
                    {% for autor in libro.autor.all %}
                    <a href="{% url 'autor' autor.id %}">
                        <span> {{autor.nombre}} {{autor.apellidos}} </span>
                    </a>
                    {% endfor %}
                </p>
            </li>
            {% endfor %}
        </ul>        
    </div>

    <footer class="back">
        <a href="{% url 'libros'  %}">Volver</a>    
    </footer>

{% endblock%}