{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
        - Curso Django</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header-wrapper">
        <header>
            <h1 class="title">Libros de Ciencia Ficción</h1>
            <div class="logo">
                <img src="{% static 'images/768px-HAL9000.png' %}" alt="Lotipo">
            </div>
        </header>
    </div>
    <main>
        {% block main %}
        {% endblock main %}
    </main>
    <footer>
        <address>
            <p>Alejandro Cerezo</p>
        </address>
    </footer>
</body>
</html>