<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
        - Curso Django</title>
</head>
<body>
    <header>
        <h1>Libros de Ciencia Ficción</h1>
    </header>
    <main>
        {% block main %}
        {% endblock main %}
    </main>
    <footer>
        <address>
            <p>Alejandro Cerezo</p>
        </address>
    </footer>
</body>
</html>