{% extends "base.html" %}

{% block title %}
    Libros
{% endblock title %}

{% block main %}
    <h2>Lista de libros</h2>
    <ul>
        {% for libro in libros %}
        <li>
            <a href="{% url 'libro' libro.id  %}">
                <p>
                    {{ libro.titulo }}
                </p>
            </a>

            <p>
                {% for autor in libro.autor.all %}
                <span> {{autor.nombre}} {{autor.apellidos}} </span>
                {% endfor %}
            </p>
        </li>
        {% endfor %}
    </ul>
    

{% endblock main %}