
{% extends "base.html" %}

{% block title %}
    Portfolio
{% endblock title %}

{% block main %}
    <h1>Portfolio de {{ autor }} </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nam ullam ratione, quae aut corporis voluptas. Distinctio pariatur dignissimos delectus. Quo, odit cumque! Maxime, incidunt quasi. Dolorem vero natus perspiciatis!</p>
    <p>Dolore explicabo ullam recusandae quibusdam nam illo! Explicabo in autem unde omnis iusto esse dolorum fugiat aperiam debitis, illo, amet possimus officiis quia perspiciatis consequuntur similique iure, commodi iste deserunt.</p>
    <p>Nulla architecto in, labore corporis laboriosam dignissimos est vel quis et consectetur a, mollitia itaque sequi. Quod dolorem perspiciatis totam nostrum, assumenda unde voluptate corrupti, quas exercitationem impedit ab harum.</p>
    <p>Dicta eligendi itaque ut praesentium corrupti laborum iure consequuntur vel, earum, doloribus iste officia impedit exercitationem, veniam sequi voluptatibus. Alias inventore modi laudantium cum, laboriosam eaque nesciunt itaque magni corrupti.</p>
    <p>Accusamus quidem quam doloremque esse alias officiis, laudantium neque consequuntur rem voluptatum optio adipisci inventore odit perspiciatis maxime nostrum in id vel dignissimos accusantium tempora omnis modi. Ipsa, quasi accusantium.</p>
    <p>Earum omnis cumque, exercitationem beatae assumenda soluta reprehenderit dolor sint iure odit placeat aut rerum vero, nisi quidem dolores quas, laudantium quo. Harum aperiam sit dignissimos hic accusamus, dolor repellat!</p>
{% endblock main %}



